main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
  
  
}
:root {
  --primary: #4C382F;
  --secondary: #d5cae3;
  --light: #60992D;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.1em;
  background: var(--primary);
  color: var(--secondary);
  font-family: 'Helvetica Neue', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'anton',sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.75rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2.25rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  margin-top: 0;

}

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
}
#header{
  border:2px solid var(--light);
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-evenly;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary) !important;
}
 #nav a, #logo a{
  color: var(--primary) !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

#nav a:hover, #logo a:hover{
  color:var(--light) !important;
  font-size:2.5rem;
}
#nav{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  padding-top: 10px;
}

img{
  border:2px solid var(--light);
  border-radius: 50%;
  
}
